{{> header}}
<div class="ide">
    <div class="ide-left">
        <div class="editor" id="editor-js">{{code}}</div>
        <div class="editor-label">JavaScript</div>
        <div class="editor" id="editor-html">{{html}}</div>
        <div class="editor-label">HTML</div>
    </div>
    <div class="ide-right">
        <iframe id="preview" src="{{framesource}}"></iframe>
        <!--<div class="text-right">
            <button class="btn btn-sm"><span class="glyphicon glyphicon-share"></span> share</button>
            <button class="btn btn-sm"><span class="glyphicon glyphicon-random"></span> fork</button>
        </div>-->
    </div>
    
</div>
<script src="https://cdn.jsdelivr.net/ace/1.2.6/min/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/page.js"></script>
{{> footer}}