<style>
    .active {
        background-color:green;
    }
</style>
<h1>Call</h1>
<p>
    <label>Number (mine):
    <br></label><input type="text" id="number_a_leg" value="+4915127526459" />
</p>
<p>
    <label>Number (remote):</label>
    <br><input type="text" id="number_b_leg" value="+4921163555584" />
</p>
<p>
    <button onClick="dial()">Anrufen</button>
</p>
<p>
    <button onClick="hangup(this)">Auflegen</button>
    <button onClick="mute(this)">Stumm</button>
    <button onClick="hold(this)">Hold</button>
</p>
<div id="result"></div>
